{% extends 'base/base.html' %}

{% block content %}
	<div class="page-header">
		<h2>Listado de Alumnos</h2>
	</div>
	<div class="row">
        <div class="col-md-12">
        	<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="text-right">
						<a class="btn btn-primary" href="{% url 'colegio:nuevo_alumno' %}">Crear</a>
					</div>
					{% if object_list %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
					    	{% for alumno in object_list %}
					    		<tr>
					    			<td>{{alumno.ID_ALUMNO}}</td>
					    			<td>{{alumno.NOMBRE}}</td>
					    			<td>
					    				<a class="btn btn-success" href="{% url 'colegio:editar_alumno' alumno.ID_ALUMNO %}">Editar</a>
					    				<a class="btn btn-danger" href="{% url 'colegio:eliminar_alumno' alumno.ID_ALUMNO %}">Eliminar</a>
					    			</td>
					    		</tr>
					    	{% endfor %}
						</tbody>
					</table>
					{% else %}
						<h4>No hay registros de Alumnos</h4>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}