#agenda {
  width: 960px;
  margin: 50px auto;
  overflow: auto;
}

.flechas {
  width: 7% !important;
}

.columa{
  float: left;
  width: 12%;
  vertical-align: top;
  border-right: 1px solid #ccc;
}

.encabezado {
  color: #06F;
  font-weight: bold;
  text-align: center;
  background-color: #E7E7E7;
  margin-bottom: 2px;
  padding: 4px;
}

.hora {
  text-align: center;
  font-size: medium;
  height: 20px;
  border-bottom: 1px solid #ccc;
  background-color: #E7E7E7;
  position: relative;
  padding-top: 4px;
}

.dia{
  border-bottom: 1px solid #ccc;
  height: 20px;
  padding-top: 4px;
}

.celda {
  font-size: small;
  color: #000;
  text-align: center;
}

.celda:hover {
  cursor: pointer;
}

.celda-agendado {
  background: url('../images/cal.png') no-repeat scroll left 2px;
  background-color: #abb3cf;
  background-size: 17px;
}

.celda-agendado:hover {
  background-color: #D9EDFF;
}