{% extends 'base/base.html' %}

{% block content %}
	<div class="page-header">
		<h2>Listado de Profesores</h2>
	</div>
	<div class="row">
        <div class="col-md-12">
        	<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="text-right">
						<a class="btn btn-primary" href="{% url 'colegio:nuevo_profesor' %}">Crear</a>
					</div>
					{% if object_list %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
					    	{% for profesor in object_list %}
					    		<tr>
					    			<td>{{profesor.ID_PROFESOR}}</td>
					    			<td>{{profesor.NOMBRE}}</td>
					    			<td>
					    				<a class="btn btn-success" href="{% url 'colegio:editar_profesor' profesor.ID_PROFESOR %}">Editar</a>
					    				<a class="btn btn-danger" href="{% url 'colegio:eliminar_profesor' profesor.ID_PROFESOR %}">Eliminar</a>
					    			</td>
					    		</tr>
					    	{% endfor %}
						</tbody>
					</table>
					{% else %}
				    	<h4>No hay registros de Profesores</h4>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}