{% extends 'base/base.html' %}

{% block content %}
	<div class="page-header">
		<h2>Inscribir Alumno</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<form method="POST">
						{% csrf_token %}
						{{ form.as_p }}
						<button type="Submit">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}