{% extends 'base/base.html' %}

{% block content %}
	<div class="page-header">
		<h2>Alumnos Inscritos en Cursos</h2>
	</div>
	<div class="row">
        <div class="col-md-12">
        	<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="text-right">
						<a class="btn btn-primary" href="{% url 'colegio:nuevo_cursos_alumnos' %}">Inscribir</a>
					</div>
					{% if object_list %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre Alumno</th>
								<th>Curso</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
						
					    	{% for curso_alumno in object_list %}
					    		<tr>
					    			<td>{{curso_alumno.id}}</td>
					    			<td>{{curso_alumno.ID_ALUMNO.NOMBRE}}</td>
					    			<td>{{curso_alumno.ID_CURSO.NOMBRE}}</td>
					    			<td>
					    				<a class="btn btn-success" href="{% url 'colegio:editar_cursos_alumnos' curso_alumno.id %}">Editar</a>
					    				<a class="btn btn-danger" href="{% url 'colegio:eliminar_cursos_alumnos' curso_alumno.id %}">Eliminar</a>
					    			</td>
					    		</tr>
					    	{% endfor %}
						</tbody>
					</table>
					{% else %}
				    	<h4 class="text-center">No hay registros de Cursos</h4>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}