{% extends 'base/base.html' %}

{% block content %}
	<div class="page-header">
		<h2>Configurar Promedio Rojo</h2>
	</div>
	<div class="row">
        <div class="col-md-12">
        	<div class="row">
				<div class="col-md-10 col-md-offset-1">
					{% if object_list %}					
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Promedio</th>
								<th>Editar</th>
							</tr>
						</thead>
						<tbody>
						
					    	{% for promedio_rojo in object_list %}
					    		<tr>
					    			<td>{{promedio_rojo.PROMEDIO}}</td>
					    			<td>
					    				<a class="btn btn-success" href="{% url 'colegio:editar_promedio_rojo' promedio_rojo.id %}">Editar</a>
					    			</td>
					    		</tr>
					    	{% endfor %}
						</tbody>
					</table>
					{% else %}
						<div class="text-right">
							<a class="btn btn-primary" href="{% url 'colegio:crear_promedio_rojo' %}">Configurar</a>
						</div>
				    	<h4 class="text-center">No está configurado el promedio</h4>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}