{% extends 'base/base.html' %}

{% block content %}
	<div class="page-header">
		<h2>Eliminando Nota</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<form method="POST">
						{% csrf_token %}
						<h3>¿Desea eliminar la calificación de {{object.ID_CURSO_ALUMNO.ID_ALUMNO.NOMBRE}} para la prueba {{object.ID_PRUEBA.NOMBRE}} del curso {{object.ID_CURSO_ALUMNO.ID_CURSO.NOMBRE}}?</h3>
						<button class="btn btn-danger" type="submit">Eliminar</button>
						<a class="btn btn-default" href="{% url 'colegio:notas' %}">Cancelar</a>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}