{% extends 'base/base.html' %}

{% block content %}
	<div class="page-header">
		<h2>Añadir Nota</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="form-group">
							<label for="{{form.ID_PRUEBA.name}}">{{form.ID_PRUEBA.label}}</label>
							{{form.ID_PRUEBA}}
						</div>
						<div class="form-group">
							<label for="{{form.ID_CURSO_ALUMNO.name}}">{{form.ID_CURSO_ALUMNO.label}}</label>
							{{form.ID_CURSO_ALUMNO}}
						</div>
						<div class="form-group">
							<label for="{{form.NOTA.name}}">{{form.NOTA.label}}</label>
							{{form.NOTA}}
						</div>
						<button type="Submit">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}