{% extends 'base/base.html' %}

{% block content %}
	<div class="page-header">
		<h2>Listado de Notas</h2>
	</div>
	<div class="row">
        <div class="col-md-12">
        	<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="text-right">
						<a class="btn btn-primary" href="{% url 'colegio:nuevo_nota' %}">Añadir</a>
					</div>
					{% if object_list %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre Prueba</th>
								<th>Nombre Alumno</th>
								<th>Curso</th>
								<th>Nota</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
					    	{% for nota in object_list %}
					    		<tr>
					    			<td>{{nota.id}}</td>
					    			<td>{{nota.ID_PRUEBA.NOMBRE}}</td>
					    			<td>{{nota.ID_CURSO_ALUMNO.ID_ALUMNO.NOMBRE}}</td>
					    			<td>{{nota.ID_CURSO_ALUMNO.ID_CURSO.NOMBRE}}</td>
					    			<td>{{nota.NOTA}}</td>
					    			<td>
					    				<a class="btn btn-success" href="{% url 'colegio:editar_nota' nota.id %}">Editar</a>
					    				<a class="btn btn-danger" href="{% url 'colegio:eliminar_nota' nota.id %}">Eliminar</a>
					    			</td>
					    		</tr>
					    	{% endfor %}
						</tbody>
					</table>
					{% else %}
				    	<h4 class="text-center">No hay registros de Notas</h4>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}