{% extends 'base/base.html' %}

{% load humanize %}

{% block content %}
	<div class="page-header">
		<h2>Alumnos Promedio Rojo</h2>
	</div>
	<div class="row">
        <div class="col-md-12">
        	<div class="row">
				<div class="col-md-10 col-md-offset-1">
					{% if promedios_rojos %}
					<table class="table table-striped">
						<thead>
							<tr>
								<!--<th>#</th>-->
								<th>Nombre Alumno</th>
								<th>Curso</th>
								<th>Pruebas</th>
								<th>Nota Promedio</th>
							</tr>
						</thead>
						<tbody>
					    	{% for promedio in promedios_rojos %}
					    		<tr>
					    			<!--<td>{{promedio.ID_PRUEBA}}</td>-->
					    			<td>{{promedio.0}}</td>
					    			<td>{{promedio.1}}</td>
					    			<td>{{promedio.3}}</td>
					    			<td style="color: red">
										{{ promedio.2|floatformat:"2"|intcomma }}
					    			</td>
					    		</tr>
					    	{% endfor %}
						</tbody>
					</table>
					{% else %}
						<h4>No hay registros de Alumnos con Notas</h4>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}