{% extends 'base/base.html' %}

{% block content %}
	<div class="page-header">
		<h2>Listado de Cursos</h2>
	</div>
	<div class="row">
        <div class="col-md-12">
        	<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="text-right">
						<a class="btn btn-primary" href="{% url 'colegio:nuevo_curso' %}">Crear</a>
					</div>
					{% if object_list %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre</th>
								<th>Profesor</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
						
					    	{% for curso in object_list %}
					    		<tr>
					    			<td>{{curso.ID_CURSO}}</td>
					    			<td>{{curso.NOMBRE}}</td>
					    			<td>{{curso.ID_PROFESOR.NOMBRE}}</td>
					    			<td>
					    				<a class="btn btn-success" href="{% url 'colegio:editar_curso' curso.ID_CURSO %}">Editar</a>
					    				<a class="btn btn-danger" href="{% url 'colegio:eliminar_curso' curso.ID_CURSO %}">Eliminar</a>
					    			</td>
					    		</tr>
					    	{% endfor %}
						</tbody>
					</table>
					{% else %}
				    	<h4 class="text-center">No hay registros de Cursos</h4>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}