{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

		<title>{% block title %}COLEGIO - techK{% endblock %}</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'colegio:home' %}">Colegio - TechK</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestión Colegio<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'colegio:alumnos' %}">Alumnos</a></li>
								<li><a href="{% url 'colegio:profesores' %}">Profesores</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{% url 'colegio:cursos' %}">Cursos</a></li>
								<li><a href="{% url 'colegio:pruebas' %}">Pruebas</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{% url 'colegio:promedio_rojo' %}">Promedio Rojo</a></li>

							</ul>
						</li>
						<li><a href="{% url 'colegio:cursos_alumnos' %}">Alumnos por Curso</a></li>
						<li><a href="{% url 'colegio:notas' %}">Carga de Notas</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'colegio:notas_alumnos' %}">Notas Alumnos</a></li>
								<li><a href="{% url 'colegio:promedios_rojos' %}">Alumnos Promedio Rojo</a></li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container theme-showcase" role="main">
			{% block content %}

			{% endblock %}
		</div>

		{% block footer %}

		{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>